{% extends 'base.html' %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}

{% block body %}


<div class="container" style="padding-top: 60px;">
    <h1 class="page-header">Изменить пароль</h1>
    <div class="row">
        <!-- left column -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="text-center">
                <img src="http://snipplicious.com/images/guest.png" width="200px" height="200px" class="avatar img-circle img-thumbnail" alt="avatar">
                <!img src="http://lorempixel.com/200/200/people/9/" class="avatar img-circle img-thumbnail" alt="avatar">
            </div>
        </div>



        <!-- edit form column -->
        <div class="col-md-8 col-sm-6 col-xs-12 personal-info">

            <form class="form-horizontal" method="post" action="{{ url_for('user_pass_update') }}">
                {{ flash_errors() }}
                 <div class="form-group">
                    {{ form.password.label(class_='col-lg-3 control-label') }}
                    <div class="col-md-8">
                        <input name="password" class="form-control" type="password" autocomplete="off">
                        {{ form.csrf_token }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.confirm.label(class_='col-lg-3 control-label') }}
                    <div class="col-md-8">
                        <input name="confirm" class="form-control" type="password" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input class="btn btn-primary" value="Сохранить" type="submit">
                        <span></span>
                        <a class="btn btn-default" href="{{ url_for('user_get', id=current_user.id) }}" type="reset">Я передумал</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
