{% extends 'base.html' %}

{% block body %}
<ul>
    {% for user in rv %}
        <li> {{ user }} </li>
    {% endfor %}
</ul>
<br/>


<hr>
{% if current_user.is_authenticated() %}
  Hi {{ current_user.username }}!
{% else %}
    Anon
{% endif %}

{% endblock %}
