{% extends 'base.html' %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-xs-10">
            <div class="well panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 text-center">
                            <img src="http://snipplicious.com/images/guest.png" alt="" class="center-block img-circle img-thumbnail img-responsive">
                            <ul class="list-inline ratings text-center" title="Ratings">
                                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                            </ul>
                        </div>
                        <!--/col-->
                        <div class="col-xs-12 col-sm-8">
                            <h2>{{ user.username }}</h2>
                            <p><strong>О себе: </strong>{{ '' if user.about == None else user.about }} </p>
                        </div>
                        <!--/col-->
                        <div class="clearfix"></div>
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong>{{ reputation }}</strong></h2>
                            <p><small>Репутация</small></p>
                            <!-- <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button> -->
                        </div>
                        <!--/col-->
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong>{{ posts_count }}</strong></h2>
                            <p><small>Сообщений на форуме</small></p>
                            <!-- <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button> -->
                        </div>
                        <!--/col-->
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong>{{ threads_count }}</strong></h2>
                            <p><small>Тем создано</small></p>
                            <!-- <button type="button" class="btn btn-primary btn-block"><span class="fa fa-gear"></span> Options </button> -->
                        </div>
                        <!--/col-->
                    </div>

                    {% if current_user.is_authenticated() and own %}
                    <div class="row">
                        <a class="btn btn-default" href="{{ url_for('user_edit') }}" type="reset">Редактировать</a>
                        <a class="btn btn-default" href="{{ url_for('user_pass_edit') }}" type="reset">Изменить пароль</a>
                    </div>
                    {% endif %}
                    <!--/row-->
                </div>
                <!--/panel-body-->
            </div>
            <!--/panel-->
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->

{% endblock %}