{% extends 'base.html' %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Название</th>
                <th>Автор</th>
                <th>Сообщений</th>
                <th>Действие</th>
            </tr>
        </thead>

        <tbody>
            {% for thread, posts_count, last_post_time, author in threads.items %}
            <tr>
                <td>{{ thread.id }}</td>
                <td>{{ thread.title }}</td>
                <td>{{ thread.user.username }}</td>
                <td>{{ posts_count }}</td>
                <td>
                    <p>
                        <form action="{{ url_for('admin.thread_delete', id=thread.id) }}" method="post">

                            <button type="submit" class="btn btn-danger">
                                 <i class="fa fa-times"></i>
                            </button>
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        </form>
                    </p>
                    <p></p>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

{% endblock %}