{% extends 'base.html' %}

{% block javascript %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='classy/css/jquery.classyedit.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='classy/js/jquery.classyedit.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".classy-editor").ClassyEdit();
        });
    </script>
{% endblock %}
{% block body %}
    <form method="POST" action="{{ url_for('thread_create') }}">
        {{ flash_errors() }}
        <div class="form-group  {{'has-error' if form.title.errors }}">
            <label for="">Название</label>
            {% for error in form.title.errors %}
                <br/><label class="control-label">{{ error }}</label>
            {% endfor %}
            {{ form.title(class_='form-control') }}
        </div>
        <div class="form-group  {{'has-error' if form.message.errors }}">
            <label for="">Сообщение</label>
            {% for error in form.title.errors %}
                <br/><label class="control-label">{{ error }}</label>
            {% endfor %}
            {{ form.message(class_='form-control classy-editor') }}
        </div>
        {{ form.csrf_token }}
        <button type="submit" class="btn btn-primary">Создать</button>
    </form>

{% endblock %}