{% extends 'base.html' %}
{% import 'helpers.html' as hs %}

{% block javascript %}

    <script src="{{ url_for('static', filename='classy/js/jquery.classyedit.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tooltip.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popover.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".classy-editor").ClassyEdit();

            $('.vote').each(function() {
                $(this).on('click', function() {
                    var vote = $(this).hasClass('fa-thumbs-o-up')==true ? 1 : -1
                    var self = this;
                    $.ajax({
                        url: "{{ url_for('vote') }}",
                        type: "POST",
                        data: {
                            vote: vote,
                            post_id: $(this).closest('.mypost').data('post'),
                            csrf_token: '{{ csrf_token() }}'
                        },
                        success: function(result) {
                            if(result.code == 'already_voted') {/* come action */}
                            else if (result.code=='vote_own') {/* come action */}
                            else if(result.code=='success') {
                                var rep = parseInt(result.rate)
                                if(rep < 0) {
                                    $(self).closest('.btn-group-xs').find('.rate')
                                        .removeClass('btn-success').addClass('btn-danger')
                                } else {
                                    $(self).closest('.btn-group-xs').find('.rate')
                                        .removeClass('btn-danger').addClass('btn-success')
                                }
                                $(self).closest('.btn-group-xs').find('.rate').html(result.rate)
                            }
                        }
                    });
                })
            })

            {% if not current_user.is_authenticated() %}
            $('.vote').popover({
                content: 'Для этого действия необходимо авторизоваться',
                placement: 'bottom'
            })
            {% endif %}
        })

    </script>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="container">
            <!--<h1 class="page-header"><i class="fa fa-pencil"></i> Interesting topic <a class="btn btn-default" href="topics.html"><i class="fa fa-backward"></i> Back to topics</a></h1>-->
            <p class="lead">{{ thread.title }}</p>

            <ul class="media-list forum">
            <!-- Forum Post -->
            {% for post, rate in posts.items %}
                <li class="media well mypost" data-post="{{ post.id }}" data-user="{{ post.user.id }}">
                    <div class="pull-left user-info" href="#">
                        <img class="avatar img-circle img-thumbnail" src="http://snipplicious.com/images/guest.png"
                          width="64" alt="Generic placeholder image">
                        <strong><a href="{{ url_for('user_get', id=post.user.id) }}">{{ post.user.username }}</a></strong>
                        <small>Member</small>
                        <br>
                        <small class="btn-group btn-group-xs">
                            <a class="btn btn-default"><i tabindex="0" data-trigger="focus" class="vote fa fa-thumbs-o-up"></i></a>
                            <a class="btn btn-default"><i tabindex="0" data-trigger="focus" class="vote fa fa-thumbs-o-down"></i></a>
                            <strong class="rate btn {{ 'btn-success' if rate==None or rate>=0 else 'btn-danger' }}">{{ 0 if rate==None else rate }}</strong>
                        </small>
                    </div>
                    <div class="media-body">
                    <!-- Post Info Buttons -->
                        <div class="forum-post-panel btn-group btn-group-xs">
                            <a href="#" class="btn btn-default"><i class="fa fa-clock-o"></i> Posted {{ post.created_at.strftime('%Y-%m-%d %H:%M') }}</a>
                        </div>
                        <!-- Post Info Buttons END -->
                        <!-- Post Text -->
                        <p>{{ post.message|safe }}
                        <!-- Post Text EMD -->

                    </div>
                </li>
            {% endfor %}
            <!-- Forum Post END -->
          </ul>
    </div>

    </div>

    <div class="row">
        {{ hs.render_paginator2(posts, 'thread_show', thread.id) }}
    </div>

    <div class="row">
        <form method="POST" action="{{ url_for('post_store', id=thread.id, page=posts.pages) }}">
            {{ flash_errors() }}
            <div class="form-group  {{'has-error' if form.message.errors }}">
                <label>Ответить</label>
                {% for error in form.message.errors %}
                    <br/><label class="control-label">{{ error }}</label>
                {% endfor %}
                {{ form.message(class_='form-control classy-editor') }}
            </div>

            {{ form.csrf_token }}
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
{% endblock %}