{% extends 'base.html' %}
{% block title %}Page Not Found{% endblock %}
{% block body %}
  <h1>Страница не найдена</h1>
  <p>Запрашиваемая страница не существует
  <p><a href="{{ url_for('index') }}">Вернуться на главную</a>
{% endblock %}