<!DOCTYPE html>
{% macro flash_errors() %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="form-group  has-error">
                {% for category, message in messages %}
                    <br/><label class="control-label">{{ message }}</label>
                {% endfor %}
            </div>
      {% endif %}
    {% endwith %}
{% endmacro %}
<html>
    <head>
        <meta charset="UTF-8" />        
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='classy/css/jquery.classyedit.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forum_theme_bootstrap.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        {% endblock %}
        {% block javascript %}
        {% endblock %}  
        <link rel="icon" type="image/x-icon" href="http://z9.on.ufanet.ru/favicon.ico" />
    </head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ url_for('index') }}">Главная</a>
                    </li>
                    {% if current_user.is_admin %}
                    <li>
                        <a href="{{ url_for('admin.thread') }}">Администрирование</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="navbar-header">
                            {% if current_user.is_authenticated() %}
                                <a class="navbar-brand" href="{{ url_for('user_get', id=current_user.id) }}"><b>{{ current_user.username }}</b></a>
                            {% endif %}
                        </div>
                    </li>
                    {% if current_user.is_authenticated() %}
                        <li><a href="{{ url_for('logout') }}">Выйти</a></li>
                    {% else %}
                        <li><a href="{{ url_for('register') }}">Регистрация</a></li>
                        <li><a href="{{ url_for('login') }}">Войти</a></li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>


    <!-- Footer -->
    <footer>
        <div class="container">

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('oauth_authorize', provider='facebook') }}">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>

                    
                    <p class="copyright text-muted">Copyright &copy; Matilda Co. 2015</p>
                </div>
            </div>
        </div>
    </footer>


</body>

</html>    