{% macro render_pagination(pagination, endpoint) %}
    <ul class=pagination>
    {%- for page in pagination.iter_pages() %}
        {% if page %}
            {% if page != pagination.page %}
                <li><a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a></li>
            {% else %}
                <li class="active"><a href="#">{{ page }}</a></li>
            {% endif %}

        {% endif %}
    {%- endfor %}
    </ul>
{% endmacro %}

{% macro render_paginator(paginator, endpoint) %}
  {%- if paginator.pages > 1 %}
      <ol class="pagination">
      {%- if paginator.has_prev %}
        <li><a href="{{ url_for(endpoint, page=paginator.prev_num) }}"
         rel="me prev">«</a></li>
      {% else %}
        <li class="disabled"><span>«</span></li>
      {%- endif %}

      {%- for page in paginator.iter_pages() %}
        {% if page %}
          {% if page != paginator.page %}
            <li><a href="{{ url_for(endpoint, page=page) }}"
             rel="me">{{ page }}</a></li>
          {% else %}
            <li class="active"><span>{{ page }}</span></li>
          {% endif %}
        {% else %}
          <li class="disabled"><span class="ellipsis">…</span></li>
        {% endif %}
      {%- endfor %}

      {%- if paginator.has_next %}
        <li><a href="{{ url_for(endpoint, page=paginator.next_num) }}"
         rel="me next">»</a></li>
      {% else %}
        <li class="disabled"><span>»</span></li>
      {%- endif %}
      </ol>
  {% endif %}
{% endmacro %}



{% macro render_paginator2(paginator, endpoint, id) %}
  {%- if paginator.pages > 1 %}
      <ol class="pagination">
      {%- if paginator.has_prev %}
        <li><a href="{{ url_for(endpoint, id=id, page=paginator.prev_num) }}"
         rel="me prev">«</a></li>
      {% else %}
        <li class="disabled"><span>«</span></li>
      {%- endif %}

      {%- for page in paginator.iter_pages() %}
        {% if page %}
          {% if page != paginator.page %}
            <li><a href="{{ url_for(endpoint, id=id, page=page) }}"
             rel="me">{{ page }}</a></li>
          {% else %}
            <li class="active"><span>{{ page }}</span></li>
          {% endif %}
        {% else %}
          <li class="disabled"><span class="ellipsis">…</span></li>
        {% endif %}
      {%- endfor %}

      {%- if paginator.has_next %}
        <li><a href="{{ url_for(endpoint, id=id, page=paginator.next_num) }}"
         rel="me next">»</a></li>
      {% else %}
        <li class="disabled"><span>»</span></li>
      {%- endif %}
      </ol>
  {% endif %}
{% endmacro %}