{% extends 'base.html' %}
{% import 'helpers.html' as hs %}

{% block body %}

<div class="container" style="margin-top: 35px">
    <div class="page-header page-heading">
        <h1 class="pull-left">Форум</h1>
        <ol class="breadcrumb pull-right where-am-i">
            <li><a href="#">Форум</a></li>
            <li class="active">Список тем</li>
        </ol>
        <div class="clearfix"></div>
    </div>

    <div class="row">
        <p class="bs-component">
            <a href="{{ url_for('thread_create') }}" class="btn btn-primary">Новая тема</a>
        </p>
    </div>
    <table class="table forum table-striped">
        <colgroup>
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 60%;">
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 15%;">
        </colgroup>
        <thead>
            <tr>
                <th class="cell-stat"></th>
                <th>
                    <h3>Тема</h3>
                </th>
                <th class="cell-stat hidden-xs hidden-sm">Автор</th>
                <th class="cell-stat text-center hidden-xs hidden-sm">Сообщ.</th>
                <th class="cell-stat-2x hidden-xs hidden-sm">Посл. сообщ.</th>
        </tr>
        </thead>
        <tbody>
            {% for thread, posts_count, last_post_time, author in threads.items %}
            <tr>
                <td class="text-center"><i class="fa fa-question fa-2x text-primary"></i></td>
                <td>
                    <h4><a href="{{ url_for('thread_show', id=thread.id) }}">{{ thread.title }}</a></h4>
                </td>
                <td class="hidden-xs hidden-sm">
                    by <a href="{{ url_for('user_get', id=thread.user.id) }}">{{ thread.user.username }}</a>
                    <br>
                    <small><i class="fa fa-clock-o"></i>{{ thread.created_at.strftime(' %H:%M %d-%m-%y') }}</small>
                </td>
                <td class="text-center hidden-xs hidden-sm"><a href="{{ url_for('thread_show', id=thread.id)}}">{{ posts_count }}</a></td>
                <td class="hidden-xs hidden-sm">
                    by <a href="{{ url_for('user_get', id=author.id)}}">{{ author.username }}</a>
                    <br>
                    <small>
                        <i class="fa fa-clock-o"></i>
                        <a href="{{ url_for('thread_show', id=thread.id, page=thread_last_page(posts_count))}}">
                            {{ last_post_time.strftime(' %H:%M %d-%m-%y') }}
                        </a>
                    </small>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        <div class="row">
        {{ hs.render_paginator(threads, 'index') }}
    </div>
</div>

{% endblock %}