{% extends 'base.html' %}

{% block body %}
<div class="container" style="margin-top:30px">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="post" action="{{ url_for('login_check') }}">
                    {{ flash_errors() }}
                    <div class="form-group">
                        <label class="sr-only">Email address</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                            <input type="text" name="username" id="username" class="form-control input-lg" placeholder="{{ _('User name') }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Password</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                            <input type="password" name="password" id="password" class="form-control input-lg" autocomplete="off" placeholder="{{ _('Password') }}">
                            {{ form.csrf_token }}
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input name="remember_me" type="checkbox" value="0"> {{ _('Remember me') }}
                        </label>
                    </div>
                    <button type="submit" class="btn btn-success btn-sm">Войти</button>
                    <a href="{{ url_for('register') }}" type="button" class="btn btn-primary btn-sm">Создать аккаунт</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}