{% extends 'base.html' %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}

{% block body %}
<script type="text/javascript">
    $('#t_and_c_m').modal()
</script>
<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form action="{{ url_for('register_do') }}" method="POST">
                <h2>Пройдите регистрацию, это просто!</h2>
                <hr class="colorgraph">
                {{ flash_errors() }}
                <div class="form-group">
                    <input type="text" name="username" id="username" class="form-control input-lg" placeholder="{{ _('User name') }}" tabindex="3">
                </div>
                <div class="form-group">
                    <input type="email" name="email" id="email" class="form-control input-lg" placeholder="{{ _('email') }}" tabindex="4">
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="password" name="password" id="password" class="form-control input-lg" autocomplete="off" placeholder="{{ _('Password') }}" tabindex="5">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="password" name="confirm" id="confirm" class="form-control input-lg" placeholder="{{ _('Repeat Password') }}" tabindex="6">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input name="accept_tos" type="checkbox"> Согласен с <a href="#" data-toggle="modal" data-target="#t_and_c_m">правилами пользования</a>
                        </label>
                    </div>
                </div>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-6 col-md-6"><input type="submit" value="Регистрируюсь!" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
                    <div class="col-xs-6 col-md-6"><a href="{{ url_for('index') }}" class="btn btn-success btn-block btn-lg">Нет, не буду.</a></div>
                </div>
                {{ form.csrf_token }}
            </form>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Правила и соглашения</h4>
                </div>
                <div class="modal-body">
                    <p>Я обязуюсь уважать других участников, быть вежливым, аргументировать ответы, не флудить.</p>
                    <p>Реклама в любой форме запрещена</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Согласен!</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
{% endblock %}