<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>ex1</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='jquery.terminal/js/jquery.mousewheel-min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.terminal/js/jquery.terminal-min.js') }}"></script>
    <link href="{{ url_for('static', filename='jquery.terminal/css/jquery.terminal.css') }}" rel="stylesheet"/>
    <script type="text/javascript">
        jQuery(function($, undefined) {
            $('body').terminal(function(command, term) {
                /*if (command !== '') {
                    try {
                        var result = window.eval(command);
                        if (result !== undefined) {
                            term.echo(new String(result));
                        }
                    } catch(e) {
                        term.error(new String(e));
                    }
                } else */
                if (command == 'ls') {
                    $.ajax({
                        url: "terminal/threads", type: "GET",
                        success: function(response) {
                            response.threads.forEach(function(item) {
                                term.echo(item)
                                console.log(item)
                            })
                        }
                    })
                } else {
                    //term.echo('');
                }
            }, {
                greetings: "Добро пожаловать на форум, введите 'help', чтобы получить справку",
                name: 'js_demo',
                //height: 200,
                prompt: 'anon: '});
            });
    </script>
</head>
<body>
</body>
</html>